@keyframes appear {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0) translate(-50%,-50%);
    }
    100% {
        transform: scale(1) translate(-50%,-50%);
    }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes spinLarge {
    from {transform:rotate(0deg) translate(-50%,-50%);}
    to {transform:rotate(360deg) translate(-50%,-50%);}
}

@keyframes disappear_opa {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fire {
    0% {
        /* /* width: 30px;
        height: 30px; */
        transform: translate(0, 0);
        scale: .5;
        opacity: 1;
    }
    50% {
        /* /* width: 80px;
        height: 80px; */
        transform: translate(-5%, -5%);
        scale: 1.2;
        opacity: .7;
    }
    65% {
        opacity: .8;
    }
    100% {
        scale: 1;
        transform: translate(0, 0);
        opacity: 0;
        display: none;
    }
}

@keyframes ske_loading {
    0% {
        opacity: .6;
        transform: translateY(3px) scale(0.98);
    }
    85%, 100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes appear {
    0% {
        scale: .2;
    }
    100% {
        scale: 1;
    }
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(2px) }
    50% { transform: translateX(-2px) }
    75% { transform: translateX(2px) }
    100% { transform: translateX(0) }
}

@keyframes appear_action_block {
    from {
       opacity: 0; 
       scale: 0;
    }
    to {
        opacity: 1;
       scale: 1;
    }
}

.horizontal-shaking {
    transform: translateX(10px);
    animation: horizontal-shaking .1s linear;
}