/* .scrollbar::-webkit-scrollbar {
    width: 14px;
    height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #8C52FF;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7c49e3;
}

.scrollbar_dark::-webkit-scrollbar {
    width: 10px;
}

.scrollbar_dark::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #8c52ff;
}

.scrollbar_dark::-webkit-scrollbar-thumb {
    background: #332e3a;
    border-radius: 100vh;
    border: 2px solid #8950FA;
}

.scrollbar_dark::-webkit-scrollbar-thumb:hover {
    background: #615c67;
}

blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
}

code {
    display: block;
    white-space: pre-line;
}

ul {
    margin-left: 10px;
    list-style-type:disc;
}

ol {
    margin-left: 6.5px;
    list-style-type: decimal;
}

.monospace {
    background-color: rgba(0, 0, 0, 0.05); font-family: Inconsolata, Menlo, Consolas, monospace; font-size: 16px; padding: 2px;
}

.card-purple {
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(140, 82, 255, 0.56);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.card-white {
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.video:hover .view {
    display: block;
}

.user:hover .setting {
    display: block;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-10%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.animate-bounce {
    animation: bounce 1s infinite;
}

.triangle::before {
    content: '';
    position: absolute;
    bottom: -12px;
    right: 50%;
    transform: translateX(50%);
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom: 0;
    border-top: 12px solid #8C52FF;
}

.hasTitle:hover .title {
    display: block;
}

.card {
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.68);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.dark_card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.follow-btn:hover .follow-hover {
    opacity: 100;
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
  
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: #8C52FF;
    cursor: pointer;
}

.mini__video,
.mini__video .video {
    transition: all .3s;
}

input#comment:checked ~ .mini__video {
    transform: translate(5%, -50%);
}

input#comment:checked ~ .mini__video .video {
    width: 80%;
}

input#comment:checked ~ .comment__model{
    left: 55%;
} */

/* .gamemode_item-nav {
    display: none;
} */

.gamemode_item:hover > .gamemode_item-nav {
    display: flex;
}

.drop_area_lighlight {
    border-color: #007BFF;
}

.drop_area_lighlight_final {
    border-color: #007BFF;
    background-color: rgb(203 213 225);
}