
/* body {
    height: 100vh;
    max-height: 100vh;
    background-color: #121212;
    color: rgba(255, 255, 255, 0.898);
    overflow: hidden;
} */

.btn:hover {
    filter: brightness(90%);
}

.ace_print-margin {
    opacity: 0;
}

.guide_box {
    position: fixed;
    background-color: #fff;
    max-width: 300px;
    height: max-content;
    border-radius: 5px;
    z-index: 3000;
    top: 78%;
    left: -45%;
    border: 1px solid #33333318;
}

.guide_box--nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #3b3a3a;
    display: flex;
    justify-content: right;
    padding: 5px 0;
}

.guide_box--nav .left,
.guide_box--nav .right {
    color: var(--primary-color);
    background-color: #dedede;
    height: max-content;
    padding: 5px 16px;
    font-size: 15px;
    margin: 0 15px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: .05s linear;
}

.guide_box--nav .left:hover,
.guide_box--nav .right:hover {
    filter: brightness(90%);
}

/* .guide_box::before {
    content: "1";
    position: absolute;
    top: 50%;
    left: -6%;
    transform: translateY(-50%);
    background-color: #fff;
    color: var(--text-primary);
    padding: 0 10px;
    line-height: 210%;
    height: 80%;
    width: 100%;
    border-radius: 9999px;
    z-index: -1;
} */

.guide_box--content {
    color: var(--text-secondary);
    padding: 5px 10px;
    word-wrap: break-word;
}

.CB_container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px 0;
}

.CB_container_element {
    height: 100%;
    flex: 1;
    max-width: calc(50% - 20px);
    /* max-height: calc(100% - 40px); */
    display: flex;
}

.CB_bot_display {
    /* background: #262626; */
    margin: 0 5px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CB_bot_display-video--background {
    margin-top: 1%;
    width: 96%;
    height: 44%;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
    /* margin: calc(20px + 5%) 2% 0; */
    text-align: center;
    position: relative;
}

.CB_bot_display-video-item {
    position: relative;
}

.loading_video, .loading_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    display: none;
}

.loading_video .loader, .loading_image .loader {
    width: 100%;
    height: 100%;
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #000; 
    border-radius: 100%;
    animation: spin 2s linear infinite;   
}

.CB_bot_display-video--result {
    height: 100%;
    padding: 10px 0;
}

.CB_bot_display-video--debug {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    position: relative;
}

.debug_nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.debug_img_main {
    position: relative;
}

.debug_img_list {
    height: 100%;
    /* padding: 0 10px 0 20px; */
}

.debug_img_item {
    height: 100%;
    display: none;
    user-select: none;
}

.debug_img_item.default {
    display: block;
}

.debug_info {
    font-size: 28px;
    position: relative;
    margin: 44px 0;
    min-width: 82px;
}

.debug_info-arrow {
    margin: 10px 0;
}

.debug_info-move_level {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,0);
    padding: 10px;
    min-width: 120px;
    text-align: center;
    border-radius: 5px;
}

.debug_info-move_level.excellent {
    background-color: #007BFF;
}

.debug_info-move_level.good {
    background-color: #00B400;
}

.debug_info-move_level.bad {
    background-color: red;
}

.debug_info-move_level.normal {
    background-color: #aaa;
    font-size: 18px;
}

.counter {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #333;
    font-size: 20px;
}

.debug_img_item img {
    height: 100%;
}

.debug_img_item.display_image {
    display: block;
}

/* .CB_bot_display-video--debug .debug_nav i {
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 100%;
    margin: auto 0;
    transition: 0.08s linear;
    cursor: pointer;
} */

.arrow_left,
.arrow_right {
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 100%;
    margin: auto 0;
    transition: 0.08s linear;
    cursor: pointer;
}

.arrow_right {
    line-height: 58px;
}

.arrow_left:hover,
.arrow_right:hover {
    background-color: rgba(255, 255, 255, .3);
}

.CB_bot_display-video--help {
    overflow: scroll;
    width: 100%;
    height: 100%;
    /* background-color: #444; */
    padding: 20px;
    text-align: left;
}

.help_title {
    font-size: 24px;
    margin: 0 0 10px;
}

.help_list {
    margin-bottom: 10px;
}

.help_list.help_type {
    display: flex;
}

.help_item {
    cursor: pointer;
}

.help_item.help_type {
    padding: 4px 12px;
    border-radius: 99px;
    background-color: #444;
    margin-right: 10px;
}

.help_item.help_type a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.help_item.help_blog a {
    display: block;
    /* text-decoration: none; */
    font-size: 18px;
    color: #007BFF;
    margin: 5px 0;
}


.CB_bot_display_nav {
    width: 100%;
    height: 30px;
    padding: 0 2% 0;
}

.CB_bot_display_nav-block {
    display: flex;
    position: relative;
    width: fit-content;
    margin-left: 2px;
}

.CB_bot_display_nav-block--item {
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.CB_bot_display_nav-block--item .loading_nav_video,
.CB_bot_display_nav-block--item .loading_nav_image {
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translate(0,-50%);
    width: 10px;
    height: 10px;
    /* display: none; */
}

.loading_nav_video .loader, 
.loading_nav_image .loader {
    width: 100%;
    height: 100%;
    border: 3px solid #f3f3f3; 
    border-top: 3px solid #000; 
    border-radius: 100%;
    animation: spin 2s linear infinite;
    display: none;
}

.check_icon {
    color: #007BFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    display: none;
}

.fail_icon {
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    display: none;
}

.CB_bot_display_nav-block--item:hover {
    filter: brightness(90%);
}

.CB_bot_display_nav-block--item.video {
    margin: 5px 0px 5px 0;
}

.CB_bot_display_nav-block--item.debug {
    margin: 5px 0 5px 20px;
}

.CB_bot_display_nav-block--item.help {
    margin: 5px 0 5px 20px;
}

.CB_bot_display_nav-block .animation {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    user-select: none;
}

.CB_bot_display_nav-block .animation .children {
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #fff;
    transition: all .1s linear;
}

.utility {
    padding: 0 2% 0;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.utility_nav {
    width: 100%;
    height: 30px;
}

.utility_nav-block {
    display: flex;
    position: relative;
    width: fit-content;
    margin-left: 2px;
    overflow-y: scroll;
}

.utility_nav-block--item {
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}

.utility_nav-block--item:hover {
    filter: brightness(90%);
}

.utility_nav-block--item.rule {
    margin: 5px 10px 5px 0;
}

.utility_nav-block--item.terminal {
    margin: 5px 0 5px 10px;
}

.utility_nav-block--item.result {
    margin: 5px 0 5px 15px;
}

.utility_nav-block .animation {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
}

.utility_nav-block .animation .children {
    position: absolute;
    height: 2px;
    width: 47px;
    background-color: #fff;
    transition: all .1s linear;
}

.utility_block {
    /* flex: 1; */
    width: 100%;
    height: 100%;
    /* padding: 0 0 20px 0; */
    overflow: scroll;
}

.utility_block-element.rule {
    display: flex;
}

.utility_block-element.rule .input {
    padding: 0 5px 0 0;
    border-right: 1px solid #333;
    width: 180%;
}

.utility_block-element.rule .output {
    padding: 0 0 0 5px;
}

.utility_block-element.terminal {
    background-color: #000;
    max-width: 100%;
    height: 100%;
    overflow: scroll;
    display: none;
    padding: 10px;
}

.output {
    margin-left: 5px;
}

.input .type,
.output .type {
    font-size: 20px;
    margin-bottom: 10px;
}

.input .content,
.output .content {
    color: #ccc;
}

.utility_block-element.result {
    display: none;
    height: calc(100% - 20px);
}

.mode_solo {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.mode_tournament {
    width: 100%;
    display: flex;
    height: 100%;
}

/* .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 40px;
} */

/* .status {
    background-color: #007BFF;
    /* padding: 10px 40px; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    margin-top: 14px;
    font-size: 40px;
} */

.info_move-count {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    background-color: #007BFF;
    border-radius: 10px;
    display: grid;
    place-content: center;
    height: 75%;
    width: 60%;
    margin-left: 2%;
}

/* .player, .enemy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player {
    margin: 10px 0;
} */

.win_loose_block {
    width: 100%;
}

.winer,
.loser {
    display: flex;
    margin: 10px 0;
    width: 100%;
}

.winer .side,
.loser .side {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto 100px;
}

.side.blue {
    background-color: #007BFF;
}

.side.red {
    background-color: red;
}

.winer_avatar,
.loser_avatar img {
    width: 80px;
    height: 100px;
    background-color: #DCF9FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.loser_info,
.winer_info {
    /* width: 100%; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.loser_info {
    color: red;
    background-color: rgba(255, 0, 0, .3);
}

.winer_info {
    color: #007BFF;
    background-color: rgba(0, 123, 255, .3);
}

.winer_avatar {
    font-size: 50px;
    color: #007BFF;
    font-weight: bold;
    display: grid;
    place-content: center;
}

.mode_tournament .bot img {
    display: block;
    height: 80%;
}

.mode_tournament .bot {
    position: relative;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    min-width: 80px;
    margin: 0 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DCF9FF;
    user-select: none;
}

.CB_coding_module {
    margin: 0 20px 0 5px;
    display: flex;
    flex-direction: column;
}

.CB_coding_module-nav {
    background: #262626;
    width: 100%;
    height: 7%;
    padding: 5px 10px;
    border-bottom: 1px solid #333;
    display: flex;
}

.CB_coding_module-nav--backBtn {
    background-color: #000; 
    border: 1px solid #333; 
    border-radius: 5px; 
    font-size: 20px; 
    padding: 5px 15px; 
    line-height: 100%;
    cursor: pointer;
    user-select: none;
    color: #fff;
}

.CB_coding_module-nav--backBtn:hover {
    filter: brightness(90%);
}

.cb_btn {
    padding: 5px 20px;
    height: max-content;
    border-radius: 5px;
    border: 1px solid #333;
    transition: 0.05s linear;
    cursor: pointer;
    user-select: none;
    background-color: #ccc;
    pointer-events: none;
}

.cb_btn.CB_active {
    pointer-events: auto;
    background-color: #007BFF;
}

/* .btn.unCB_active {
} */

.CB_coding_module-nav--CB_runBtn {
    margin-left: 20px;
    /* background-color: #007BFF; */
}

.CB_coding_module-nav--saveBtn {
    margin-left: auto;
    border: 1px solid #fff;
    padding: 5px 20px;
    height: max-content;
    border-radius: 5px;
    /* border: 1px solid #333; */
    transition: 0.05s linear;
    cursor: pointer;
    user-select: none;
}

.CB_coding_module-nav--saveBtn:hover {
    background-color: #fff;
    color: #000;
}

.CB_coding_module-nav--CB_runBtn.CB_loader {
    padding: 5px 20px;
    margin-left: 20px;
    height: max-content;
    border-radius: 5px;
    background-color: #121212;
    border: 1px solid #333;
    transition: 0.05s linear;
    cursor: pointer;
    user-select: none;
}

.CB_coding_module-nav--CB_runBtn.btn:hover {
    filter: brightness(90%);
}

.CB_coding_module-nav--loading {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #000; 
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 2s linear infinite;
}


#CB_coding_module-coding_block {
    width: 100%;
    max-width: 100%;
    height: 76%;
}

.coding_block-coding {
    display: flex;
}

.coding_block-coding--box {
    flex: 1;
}

.ace_scrollbar::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

.ace_scrollbar::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #272822; /* Matches ace monokai */
    border-radius: 10px;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

.debug_mode_selector {
    display: flex;
    align-items: center;
    /* font-size: 20px; */
    /* margin-left: auto; */
}

.debug_mode_selector .selector {
    width: fit-content;
    height: 100%;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    /* padding: 0 10px; */
    /* background-color: #000; */
    color: #fff;
    /* margin: 0 10px; */
    cursor: pointer;
}

.CB_coding_module-nav--setting {
    position: relative;
    padding-top: 3px;
    margin: 0 15px 0 20px;
}

.CB_coding_module-nav--setting label {
    height: 100%;
}

.CB_coding_module-bot_list {
    width: 100%;
    height: 22%;
    background-color: #262626;
    margin-top: auto;
    display: flex;
    padding: 10px 0;
}

.choose_bot_module {
    height: 76%;
    width: 100%;
}

.choose_bot_module-title {
    width: 100%;
    padding: 0 20px 2px;
    height: fit-content;
    font-size: 16px;
    color: #ccc;
    text-align: center;
}

.CB_bot_list {
    /* overflow-x: scroll; */
    overflow-wrap: break-word;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    height: 101%;
    width: 100%;
    /* max-width: 70%; */
}

.CB_bot_item {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    /* overflow: hidden; */
    min-width: 80px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DCF9FF;
    user-select: none;
    z-index: 10000000000;
}

.CB_bot_item:hover > .CB_bot_item_info {
    display: block;
}

.CB_bot_item:hover {
    opacity: .9;
}

.CB_bot_item_title {
    color: #000;
    font-size: 12px;
}

.CB_bot_item_title.Master {
    color: rgb(197, 0, 0);
    font-weight: bold;
    font-size: 10px;
}

.CB_bot_item img {
    display: block;
    height: 80%;
}

.CB_bot_item.Master,
.bot.Master {
    background-color: rgb(255, 185, 185);
}

.CB_bot_item.CB_selected {
    border: 5px solid #007BFF;
}

.fight_result {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fight_result_loader {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.fight_result_loading {
    border: 4px solid #9c9c9c; 
    border-top: 4px solid #000; 
    border-radius: 50%;
    width: 70%;
    height: 70%;
    animation: spin 2s linear infinite;
}

.fight_result_win {
    display: none;
    background-image: url("../static/img/due_sword.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 46%;
    background-color: rgba(0, 123, 255, .7);
    width: 100%;
    height: 100%;
}

.fight_result_lost {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, .7);
    display: none;
    align-items: center;
    justify-content: center;
}

.fight_result_lost i {
    font-size: 40px;
}

.fight_result_draw i {
    font-size: 40px;
    color: #000;
}

.fight_result_draw {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
    display: none;
    align-items: center;
    justify-content: center;
}

.CB_bot_item_info {
    /* display: none; */
    pointer-events:visible;
    position: absolute;
    display: none;
    min-width: 200px;
    bottom: 120%;
    font-size: 14px;
    background-color: #262626;
    color: snow;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 15px 5px #007BFF;
    z-index: 1000000;
}

.CB_bot_item_info::after {
    content: "";
    position: absolute;
    bottom: 0;
}

.hint p {
    vertical-align: center;
}

/* .choose_mode_module {
    width: 30%;
    height: 100%;
    border-left: 1px solid #007BFF;
}

.choose_mode_module-title {
    width: 100%;
    height: 15%;
    padding: 0 20px;
    height: fit-content;
    font-size: 16px;
    color: #ccc;
    text-align: center;
}

.mode_list {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.mode_item {
    width: 80%;
    font-size: 20px;
    padding: 10px 0;
    border: 1px solid #007BFF;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    transition: .1s linear;
}

.mode_item:hover {
    background-color: #007BFF;
}

.mode_item.CB_selected {
    background-color: #0058b7;
} */

.CB_setting_list {
    display: none;
    position: absolute;
    top: 100%;
    right: -20%;
    z-index: 1000000;
    background-color: #fff;
    opacity: .6;
    color: #000;
    border-radius: 4px;
    /* width: fit-content; */
}

.setting_item {
    width: 160px;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
}

.setting_item:hover {
    filter: brightness(90%);
    background-color: #fff;
}

.setting_icon {
    font-size: 25px;
    cursor: pointer;
}

.setting_icon:hover {
    filter: brightness(90%);
}

#check:checked ~ .CB_setting_list {
    display: flex;
}
