/* body {
    height: 100vh;
    max-height: 100vh;
    padding: 0 6%;
    background-color: #191B26;
    color: rgba(255, 255, 255, 0.898);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.game_state {
    /* position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%); */
    width: 20%;
}
    
canvas {
    position: fixed;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    pointer-events: none;
}

.game_turn {
    /* padding: 15px 70px; */
    margin: 80px 0;
    border-radius: 10px;
    font-size: 30px;
    height: 100px;
    display: flex;
    transition: all .2s linear;
}

.mobile_active {
    display: none;
}

.game_turn_info.unavalable {
    /* background-color: #333; */
    /* background-color: rgba(0,0,0,0.4); */
    opacity: .5;
}

/* .game_turn-bot {
    background-color: #FF0000;
}

.game_turn-player {
    background-color: #007BFF;
} */


.bot .side,
.player .side {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto 100px;
}

.bot_avatar_pc img,
.bot_avatar_mobile img,
.player_avatar {
    width: 80px;
    height: 100%;
    background-color: #DCF9FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.player_info_pc,
.bot_info_pc,
.player_info_mobile,
.bot_info_mobile {
    /* width: 100%; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bot_info_pc,
.bot_info_mobile {
    /* color: red;
    background-color: rgba(255, 0, 0, .3); */
}

.player_info_pc,
.player_info_mobile {
    /* color: #007BFF; */
    /* background-color: #007bff4d; */
}

.player_avatar {
    font-size: 50px;
    color: #007BFF;
    font-weight: bold;
    display: grid;
    place-content: center;
}

.game_result {
    /* position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(-50%,-50%); */
}

.game_result_nav {
    display: none;
}

.HB_game_status {
    font-size: 26px;
    padding: 10px 40px;
    margin-bottom: 40px;
    /* background-color: #007BFF; */
    border-radius: 10px;
    width: 214px;
    text-align: center;
}

.HB_menu_btn {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;
    margin-bottom: 40px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
}

.HB_menu_btn:hover {
    background-color: #007BFF;
}

.rate_btn {
    /* display: none; */
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;
    margin-bottom: 40px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
}

.rate_btn:hover {
    background-color: #007BFF;
}

.rate_btn.active:hover {
    background-color: #191B26;
}

.rate_btn.active {
    background-color: #007BFF;
}

.play_again_btn {
    font-size: 20px;
    padding: 10px 40px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
}

.play_again_btn:hover {
    background-color: #007BFF;
}

.board {
    display: grid;
    grid-template-columns: auto auto;
    /* column-gap: 4px;
    row-gap: 4px; */
    position: relative;
    /* top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%); */
    width: 500px;
    height: 500px;
    background-color: #242527;
}

.HB_grid {
    height: 100%;
    width: 100%;
    /* background-color: #fff; */
    position: relative;
    overflow: hidden;
}

.HB_rowx {
    position: absolute;
    top: calc(50% - 2px);
    /* left: 49%; */
    height: 4px;
    background-color: #242527;
    width: 100%;
}

.HB_rowy {
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    background-color: #242527;
    height: 100%;
}

.HB_row2 {
    position: absolute;
    top: -22%;
    left: calc(50% - 2px);
    width: 4px;
    background-color: #242527;
    height: 360px;
    transform: rotate(45deg);
    
}

.HB_row1 {
    position: absolute;
    top: -22%;
    left: calc(50% - 2px);
    width: 4px;
    background-color: #242527;
    height: 360px;
    transform: rotate(135deg);
    
}

.HB_row3 {
    position: absolute;
    left: calc(50% - 2px);
    /* transform: translateX(-50%); */
    width: 4px;
    background-color: #242527;
    height: 100%;
    
}

.HB_row4 {
    position: absolute;
    left: calc(50% - 2px);
    height: 100%;
    width: 4px;
    background-color: #242527;
    transform: rotate(90deg);
    
}

.box {
    position: absolute;
    width: 40px;
    height: 40px;
    /* z-index: 1000; */
    transform: translate(50%,50%);
    /* cursor: pointer; */
    border-radius: 50%;
}

.box[data-choosable="true"] {
    cursor: pointer;
    background-color: green;
}

.box[data-choosable="false"] {
    cursor: default;
    background-color: none;
}

.box:hover {
    /* background-color: rgba(0, 0, 0, .2); */
}

.chess,
.custom_icon {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    user-select: none;
}

.chess.not_ready {
    cursor: not-allowed;
}

.chess:hover {
    filter: brightness(90%);
}

.fire {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 1001;
    animation: fire 1s linear forwards;
}

.overflow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .2);
    z-index: 100000000;
}

.choose_bot_model {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    width: 42%;
    height: 82%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: #242527; */
    padding: 30px 0 40px;
}

.choose_bot_model-title {
    font-size: 30px;
}

.bot_list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bot_list_block {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.bot_item {
    position: relative;
    /* display: inline-block; */
    width: 120px;
    height: 120px;
    border-radius: 5px;
    overflow: hidden;
    min-width: 80px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DCF9FF;
    user-select: none;
}

.bot_item:hover {
    opacity: .9;
}

.bot_item_title {
    color: #000;
    font-size: 12px;
}

.bot_item_title.Master {
    color: rgb(197, 0, 0);
    font-weight: bold;
    font-size: 10px;
}

.bot_item img {
    display: block;
    height: 80%;
    width: auto;
}

.bot_item.Master,
.bot.Master {
    background-color: rgb(255, 185, 185);
}

.bot_item.selected {
    border: 5px solid #007BFF;
}

.fight_btn {
    /* pointer-events: none; */
    user-select: none;
    font-size: 20px;
    padding: 14px 40px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    text-align: center;
    cursor: not-allowed;
    transition: all .2s linear;
}

.fight_btn.active {
    pointer-events: all;
    font-size: 20px;
    padding: 14px 40px;
    border: 1px solid #007BFF;
    background-color: #007BFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.fight_btn.active:hover {
    filter: brightness(90%);
}
@media (max-width: 600px) {
    .HB_menu_btn {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .rate_btn {
        margin-bottom: 20px;
    }

    .mobile_active {
        display: flex;
    }

    html {
        height: 100vh;
    }
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .game_state.pc {
        display: none;
    }

    .game_turn {
        height: 60px;
        /* width: 150px; */
    }

    .bot_avatar_mobile img,
    .player_avatar {
        width: 50px;
        height: 100%;
        background-color: #DCF9FF;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .player_info_mobile,
    .bot_info_mobile {
        /* width: 60px; */
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px 20px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .choose_bot_model {
        width: 90%;
    }

    .bot_item {
        width: 100px;
        height: 100px;
    }
    
    .game_result {
        position: fixed;
        bottom: calc(-260px + 37.8px);
        width: 100%;
        padding: 0 0 20px;
        background-color: rgba(0,0,0,0.6);
        transition: .3s all;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10000000000;
    }

    .game_result_nav {
        display: grid;
        place-content: center;
        padding: 10px 0;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        margin: 0 0 20px;
        width: 100%;
        border-radius: 2px;
    }

    .game_result_nav:active {
        background-color: #007BFF;
    }
    
    #open_game_result:checked ~ .game_result {
        bottom: 0;
    }

    .arrow_down {
        display: none;
    }

    .arrow_up {
        display: none;
    }

    #open_game_result:checked ~ .game_result > .game_result_nav > .arrow_down  {
        display: block;
    }

    #open_game_result:not(:checked) ~ .game_result > .game_result_nav > .arrow_up  {
        display: block;
    }

    .HB_game_status {
        font-size: 26px;
        padding: 10px 40px;
        margin-bottom: 40px;
        background-color: #007BFF;
        border-radius: 10px;
        width: 80%;
        margin: 0 ;
        text-align: center;
        /* display: none; */
    }
    
    .menu_btn {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        width: 80%;
        padding: 10px 40px;
        margin: 20px 0;
        border: 1px solid #007BFF;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: all .2s linear;
        /* display: none; */
    }
    
    .menu_btn:hover {
        background-color: #007BFF;
    }
    
    .play_again_btn {
        font-size: 20px;
        padding: 10px 40px;
        border: 1px solid #007BFF;
        border-radius: 5px;
        width: 80%;
        text-align: center;
        cursor: pointer;
        transition: all .2s linear;
        /* display: none; */
    }
    
    .play_again_btn:hover {
        background-color: #007BFF;
    }
    
    .board {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1px;
        row-gap: 1px;
        position: relative;
        /* top: 50%;
        left: 50%; 
        transform: translate(-50%,-50%); */
        width: 202px;
        height: 202px;
        background-color: #242527;
    }
    
    .HB_grid {
        height: 101px;
        width: 101px;
        /* background-color: #fff; */
        position: relative;
        overflow: hidden;
    }
    
    .HB_row2 {
        position: absolute;
        top: -39%;
        left: 8%;
        width: 1px;
        height: 265px;
        transform: rotate(45deg);
        background-color: #242527;
    }
    
    .HB_row1 {
        position: absolute;
        top: -121%;
        left: 8%;
        width: 1px;
        height: 265px;
        transform: rotate(135deg);
        background-color: #242527;
    }
    
    .HB_row3 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 100%;
        background-color: #242527;
    }
    
    .HB_row4 {
        position: absolute;
        left: 50%;
        width: 1px;
        height: 100%;
        transform: translateX(-50%) rotate(90deg);
        background-color: #242527;
    }
    
    .box {
        position: absolute;
        width: 20px;
        height: 20px;
        /* z-index: 1000; */
        transform: translate(50%,50%);
        /* cursor: pointer; */
        border-radius: 50%;
    }
    
    .box[data-choosable="true"] {
        cursor: pointer;
        background-color: green;
    }
    
    .box[data-choosable="false"] {
        cursor: default;
        background-color: none;
    }
    
    .chess,
    .custom_icon {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1000;
        user-select: none;
    }
    
    .chess.not_ready {
        cursor: not-allowed;
    }
    
    .chess:hover {
        filter: brightness(90%);
    }

    .fire {
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 1001;
        animation: fire 1s linear forwards;
    }
}