/* body {
    height: 100vh;
    max-height: 100vh;
    padding: 0 40px;
    background-color: #191B26;
    color: rgba(255, 255, 255, 0.898);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
} */

.game_state {
    /* position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%); */
}

canvas {
    position: fixed;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    pointer-events: none;
}

.game_turn {
    padding: 15px 70px;
    margin: 80px 0;
    border-radius: 10px;
    font-size: 30px;
    transition: all .2s linear;
}

.game_turn.unavalable {
    background-color: #333;
}

.game_turn-bot {
    background-color: #FF0000;
}

.game_turn-player {
    background-color: #007BFF;
}

.game_turn-bot_reverse {
    background-color: #007BFF;
}

.game_turn-player_reverse {
    background-color: #FF0000;
}

.game_result {
    /* position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(-50%,-50%); */
}

.game_status {
    font-size: 30px;
    padding: 10px 40px;
    margin-bottom: 40px;
    background-color: #007BFF;
    border-radius: 10px;
    width: 214px;
    text-align: center;
}

.menu_btn {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;
    margin-bottom: 40px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
}

.menu_btn:hover {
    background-color: #007BFF;
}

.rate_btn {
    /* display: none; */
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;
    margin-bottom: 40px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
}

.rate_btn:hover {
    background-color: #007BFF;
}

.play_again_btn {
    font-size: 20px;
    padding: 10px 40px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
}

.play_again_btn:hover {
    background-color: #007BFF;
}

.board {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 4px;
    row-gap: 4px;
    position: relative;
    /* top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%); */
    width: 504px;
    height: 504px;
    background-color: #242527;
}

.grid {
    height: 250px;
    width: 250px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.row2 {
    position: absolute;
    top: -22%;
    left: 49%;
    width: 4px;
    height: 360px;
    transform: rotate(45deg);
    background-color: #242527;
}

.row1 {
    position: absolute;
    top: -22%;
    left: 49%;
    width: 4px;
    height: 360px;
    transform: rotate(135deg);
    background-color: #242527;
}

.row3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #242527;
}

.row4 {
    position: absolute;
    left: 50%;
    width: 4px;
    height: 100%;
    transform: translateX(-50%) rotate(90deg);
    background-color: #242527;
}

.box {
    position: absolute;
    width: 40px;
    height: 40px;
    /* z-index: 1000; */
    transform: translate(50%,50%);
    /* cursor: pointer; */
    border-radius: 50%;
}

.box[data-choosable="true"] {
    cursor: pointer;
    background-color: green;
}

.box[data-choosable="false"] {
    cursor: default;
    background-color: none;
}

.box:hover {
    /* background-color: rgba(0, 0, 0, .2); */
}

.chess {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

.chess.not_ready {
    cursor: not-allowed;
}

.chess:hover {
    filter: brightness(90%);
}

.fire {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 1001;
    animation: fire 1s linear forwards;
}

.warning {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
    height: 50%;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100000000;
    padding-top: 30px;
}

.sign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    background-color: #242527;
    box-shadow: #007BFF 0px 8px 24px;
    color: #fff;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100000000;
    padding: 60px 20px 20px;
    border-radius: 10px;
    margin-left: 40px;
}

.ok_btn {
    margin: auto 0 60px 0;
    padding: 10px 20px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.ok_btn:hover {
    background-color: #007BFF;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.btn div {
    padding: 10px 20px;
    background-color: #007BFF;
    border-radius: 5px;
    cursor: pointer;
}

.btn div:hover {
    filter: brightness(90%);
}

.overflow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.2);
    z-index: 10000000000000;
}

.room_info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 80%;
    background-color: #191B26;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    padding: 20px;
    border-radius: 5%;
}

.room_info-title {
    margin: 20px 0 40px 0;
}

.room_title-player {
    width: fit-content;
}

.avatar {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
    background-color: #fff;
    color: #007BFF;
    font-size: 40px;
    font-weight: bold;
}

.due_word_img {
    width: 200px;
    margin: 20px 0;
}

.room_title-loading {
    width: 60px;
    height: 60px;
}

.loading {
    width: 100%;
    height: 100%;
    border: 3px solid #f3f3f3; 
    border-top: 3px solid #000; 
    border-radius: 100%;
    animation: spin 2s linear infinite;
    /* display: none; */
}

@media (max-width: 500px) {
    html {
        height: 100vh;
    }
    /* body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

    .game_turn {
        padding: 15px 70px;
        margin: 80px 0;
        border-radius: 10px;
        font-size: 30px;
        transition: all .2s linear;
        display: none;
    }
    
    .game_turn.unavalable {
        background-color: #333;
    }
    
    .game_turn-bot {
        background-color: #FF0000;
    }
    
    .game_turn-player {
        background-color: #007BFF;
    }
    
    .game_result {
        /* position: absolute;
        top: 50%;
        right: 20%;
        transform: translate(-50%,-50%); */
    }
    
    .game_status {
        font-size: 30px;
        padding: 10px 40px;
        margin-bottom: 40px;
        background-color: #007BFF;
        border-radius: 10px;
        width: 214px;
        text-align: center;
        display: none;
    }
    
    .menu_btn {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        padding: 10px 40px;
        margin-bottom: 40px;
        border: 1px solid #007BFF;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: all .2s linear;
        display: none;
    }
    
    .menu_btn:hover {
        background-color: #007BFF;
    }
    
    .play_again_btn {
        font-size: 20px;
        padding: 10px 40px;
        border: 1px solid #007BFF;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: all .2s linear;
        display: none;
    }
    
    .play_again_btn:hover {
        background-color: #007BFF;
    }
    
    .board {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1px;
        row-gap: 1px;
        position: relative;
        /* top: 50%;
        left: 50%; 
        transform: translate(-50%,-50%); */
        width: 202px;
        height: 202px;
        background-color: #242527;
    }
    
    .grid {
        height: 101px;
        width: 101px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
    }
    
    .row2 {
        position: absolute;
        top: -39%;
        left: 8%;
        width: 1px;
        height: 265px;
        transform: rotate(45deg);
        background-color: #242527;
    }
    
    .row1 {
        position: absolute;
        top: -121%;
        left: 8%;
        width: 1px;
        height: 265px;
        transform: rotate(135deg);
        background-color: #242527;
    }
    
    .row3 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 100%;
        background-color: #242527;
    }
    
    .row4 {
        position: absolute;
        left: 50%;
        width: 1px;
        height: 100%;
        transform: translateX(-50%) rotate(90deg);
        background-color: #242527;
    }
    
    .box {
        position: absolute;
        width: 20px;
        height: 20px;
        /* z-index: 1000; */
        transform: translate(50%,50%);
        /* cursor: pointer; */
        border-radius: 50%;
    }
    
    .box[data-choosable="true"] {
        cursor: pointer;
        background-color: green;
    }
    
    .box[data-choosable="false"] {
        cursor: default;
        background-color: none;
    }
    
    .box:hover {
        /* background-color: rgba(0, 0, 0, .2); */
    }
    
    .chess {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1000;
    }
    
    .chess.not_ready {
        cursor: not-allowed;
    }
    
    .chess:hover {
        filter: brightness(90%);
    }

    .fire {
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 1001;
        animation: fire 1s linear forwards;
    }
}