:root {
    --image-width: 50%;
    --image-height: 400px;
}

/* a {
    cursor: pointer;
} */
.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: 0;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 450px;
    background-color: #343A40;
    border-radius: 10px;
    animation: zoomIn .4s ease-in-out;
    z-index: 1000000000000;
}
.notification_header {
    font-size: 100px;
    margin: 20px;
    color: rgb(255, 33, 33);
}
.notification_content {
    font-size: 16px;
    padding: 0 60px;
}
.notification_directional {
    margin-top: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}
.notification_directional div {
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.notification_directional div:hover {
    filter: brightness(90%);
}
.notification_directional .notification_directional--back {
    background-color: #ccc;
    color: #000;
}
.notification_directional .notification_directional--create_bot {
    background-color: #007BFF;
}

.btn {
    display: block;
    text-decoration: none;
    width: max-content;
    color: #fff;
    font-size: 18px;
    padding: 1.6% 14%;
    margin: 12px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
    pointer-events: auto;
    /* background-color: #121721; */
}

.btn:hover {
    background-color: #007BFF;
    text-decoration: none;
    color: #fff;
}

.non_code .btn {
    /* padding: 10px 60px; */
}

.menu_content {
    margin-top: 80px;
    height: 100%;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* margin-top: 56px;     */
    width: 100%;
    padding: 0 5%;
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    /* padding: 0 10%; */
    /* margin-top: 40px; */
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
}

.main_image {
    position: relative;
    height: 100%;
    width: fit-content;
}

.main_image_link {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 20px;
    font-weight: bold;
}

.main_img {
    height: 100%;
    /* filter: brightness(95%); */
    border-radius: 10px;
}

.main_nav_module {
    height: 100%;
    width: 40%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.non_code,
.code_require {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(0px) saturate(180%);
    -webkit-backdrop-filter: blur(0px) saturate(180%);
    /* background-color: rgba(17, 25, 40, 0.68); */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    /* width: 40%; */
    height: 49%;
}

/* .non_code .btn {
margin: 16px;
} */

.sign {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 360px;
    /* background-color: #000; */
    border-radius: 10px;
    padding: 20px;
}

.sign_content {
    font-size: 20px;
}

.sign_btn {
    margin: auto 0 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    border-radius: 5px;
}

.detail_module {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 9%; */
}

.detail_module_title {
    font-size: 40px;
    margin: 30px 0;
}

.detail_item {
    display: flex;
    /* background-color: #171C26; */
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #333;
    margin-bottom: 20px;
}

.detail_image {
    /* width: var(--image-width); */
    height:  var(--image-height);
    /* background-color: #000; */
    border-radius: 10px;
    /* display: grid; */
    /* place-content: center; */
    overflow: hidden;
    flex: 1;
}

.detail_image img {
    /* width: 100%; */
    /* object-fit: contain; */
}

.detail_nav {
    flex: 1;
    padding: 40px 0;
    font-size: 300%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.btn2 {
    display: block;
    text-decoration: none;
    width: max-content;
    color: #fff;
    font-size: 50%;
    padding: 1.6% 14%;
    margin: 12px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .06s linear;
    text-decoration: none;
    background-color: #007BFF;
}

.btn2.pp {
    background-color: #fff;
    color: #000;
}

.btn2.pp:hover {
    filter: brightness(85%);
    color: #000;
}

.btn2:hover {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 500px) {
    /* .btn {
        font-size: 16px;
        padding: 10px 30px;
        margin: 20px 10px 20px;
    } */
    :root {
        --image-height: 140px;
    }

    .detail_nav {
        flex: 1;
        padding: 0;
        font-size: 200%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .btn2 {
        display: block;
        text-decoration: none;
        width: max-content;
        color: #fff;
        font-size: 45%;
        padding: 1.6% 14%;
        margin: 12px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: all .06s linear;
        text-decoration: none;
        background-color: #007BFF;
    }

    /* body {
        overflow: auto;
    } */

    .main {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_nav_module {
        width: 100%;
        margin: 0;
    }

    .main_img {
        width: 100%;
        height: auto;
    }

    .code_require,
    .non_code {
        width: 100%;
    }
    
    .code_require {
        margin: 20px 0 10px;
    }

    .non_code {
        margin: 10px 0 10px;
    }

    .main_image_link {
        font-size: 14px;
    }
}