.RM_rate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 40%;
    background-color: #242527;
    border-radius: 10px;
    padding: 20px;
    z-index: 10000000000;
    user-select: none;
    display: none;
}

.RM_game_display {
    height: 40%;
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding: 10px;
    position: relative;
}

.RM_img_main {
    height: 100%;
    position: relative;
}

.RM_img_list {
    height: 100%;
    /* padding: 0 10px 0 20px; */
}

.RM_img_item {
    height: 100%;
    display: none;
}

.RM_img_item.RM_default {
    display: block;
}

.RM_info {
    font-size: 28px;
    position: relative;
    margin: 44px 0;
}

.RM_info-arrow {
    margin: 10px 0;
}

.RM_info-move_level {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,0);
    padding: 10px;
    min-width: 120px;
    text-align: center;
    border-radius: 5px;
    background-color: #007BFF;
}

.RM_counter {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #333;
    font-size: 20px;
}

.RM_img_item img {
    height: 100%;
}

.RM_img_item.RM_display_image {
    display: block;
}

.RM_game_display i {
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 100%;
    margin: auto 0;
    transition: 0.08s linear;
    cursor: pointer;
}

.RM_game_display i:hover {
    background-color: rgba(255, 255, 255, .3);
}

.RM_game_rate {
    height: 60%;
    position: relative;
}

.RM_rate_list {
    max-height: 100%;
    margin: 10px 0;
    overflow-y: scroll;
}

.RM_rate_item {
    display: flex;
    height: 36px;
    padding: 6px 0;
    /* justify-content: space-between; */
    user-select: none;
    cursor: pointer;
}

.RM_rate_item:hover {
    background-color: #1a1b1d;
}

.RM_rate_item.RM_sellected {
    background-color: #202124;
}

.RM_overview {
    width: 100%;
    margin-bottom: 10px;
}

.RM_header {
    font-size: 20px;
    display: flex;
    padding: 10px 0;
}

.RM_header .RM_player,
.RM_header .RM_move_count {
    width: 33%;
    text-align: center;
}

.RM_header .RM_player {
    display: grid;
    place-content: center;
}

.RM_content {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
}

.RM_content.RM_red {
    background-color: red;
}

.RM_content.RM_blue {
    background-color: #007BFF;
}

.RM_title.RM_blue {

}

.RM_move_count {
    padding: 10px 20px;
}

.RM_excellent_count {
    display: flex;
    font-size: 20px;
}

.RM_excellent_count-title {
    font-weight: bold;
}

.RM_excellent_count-title.RM_excellent {
    color: #26C2A3;
}

.RM_excellent_count-title.RM_good {
    color: #00B400;
    margin: 10px 0 0;
}

.RM_excellent_count-title.RM_normal {
    color: #bbb;
    margin: 10px 0 10px;
}

.RM_excellent_count-title.RM_bad {
    color: red;
}

.RM_excellent_count div {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RM_spacing {
    width: 90%;
    height: 1px;
    background-color: #007BFF;
    margin: 20px 5%;
}

.RM_rate_item div {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.RM_rate_item-you_img {
    height: 100%;
    margin: 0 10px;
    width: auto;
}

.RM_hide {
    opacity: 0;
    pointer-events: none;
}

.RM_appear {
    display: block;
}

.RM_loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #191B26;
    top: 0;
    display: grid;
    place-content: center;
}

.RM_loading {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #000; 
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

.RM_ske_loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #242527;
}

.RM_ske_loading-overview,
.RM_ske_loading-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RM_ske_loading-detail {
    margin-top: 10px;
}

.RM_ske_loading-overview li {
    height: 30px;
    margin: 4px 0;
    border-radius: 6px;
    background-color: rgba(21, 32, 43, 1);
    animation: ske_loading 1s ease-in-out forwards infinite alternate;
}

.RM_ske_loading-detail li {
    height: 24px;
    width: 100%;
    margin: 4px 0;
    border-radius: 6px;
    background-color: rgba(21, 32, 43, 1);
    animation: ske_loading 1s ease-in-out forwards infinite alternate;
}

.RM_ske_loading-overview li:nth-child(1) {
    width: 20%;
}

.RM_ske_loading-overview li:nth-child(2) {
    width: 60%;
}

.RM_ske_loading-overview li:nth-child(3) {
    width: 90%;
}

.RM_ske_loading-overview li:nth-child(4) {
    width: 70%;
}

.RM_ske_loading-detail {
        display: flex;
    flex-direction: column;
    align-items: center;
}