:root {
    /* --back-ground-color: #191B26;
    --back-ground-contrast: #282A36;
    --text-color: #fff;
    --primary-color: #007BFF; 
    --code-block-bg: rgba(40, 42, 54, .9);
    --action-block-bg: rgba(25, 27, 38, .7);
    */

    --back-ground-color: #fff;
    --back-ground-contrast: #eee;
    --back-ground-pre: #ccc;
    --text-color: #000;
    --secondary-text-color: #fff;
    --primary-color: #007BFF;
    --code-list-bg: rgba(255, 255, 255, .9);
    --action-block-bg: rgba(200, 200, 200, .7);
}

/* * {
    text-decoration: none;
    color: var(--text-color);
} */

input {
    user-select: none;
}

label {
    margin: 0;
}

/* body {
    position: relative;
    height: 3000px;
    width: 3000px;
    user-select: none;
    background-color: #000;
    overflow: hidden;
    flex-direction: column;
    border: 1px solid;
    background-color: var(--back-ground-color);
} */

.fake_body {
    position: relative;
    height: 3000px;
    width: 3000px;
    user-select: none;
    background-color: #000;
    overflow: hidden;
    flex-direction: column;
    border: 1px solid;
    background-color: var(--back-ground-color);
    color: var(--text-color);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--back-ground_contrast);
    z-index: 2;
}

.warpper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 60px;
    /* z-index: 1;
    pointer-events: none; */
    /* display: none; */
}

.user_avatar {
    background-color: var(--text-color);
}

#content {
    position: absolute;
    display: grid;
    place-content: center;
    /* z-index: 1000; */
    /* height: 100%;
    width: 100%; */
}

.VI_container {
    left: 0;
    margin-top: 40px;
    /* width: 100vw;
    height: 100vh; */
    display: flex;
}

.show_simulation {
    flex: 1;
    margin: 20px 10px 20px 20px;
    border-radius: 10px;
    /* border: 1px solid var(--primary-color); */
    display: flex;
    align-items: center;
    overflow: hidden;
}

.display_block {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.VI_canvas {
    position: relative;
    border: 1px solid #000;
    border-radius: 10px;
    margin-right: auto;
}

.grid_layer {
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    background-color: rgba(255,255,255,.2);
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    z-index: 1000;
    padding: 49px;
}

.grid_item {
    /* opacity: 0; */
    position: relative;
    margin: auto;
    width: 20px;
    height: 20px;
    /* background-color: #50fa7b; */
}

.show_info {
    display: none;
    position: absolute;
    background-color: #ccc;
    padding: 10px;
    border-radius: 4px;
    top: -44px;
    left: 10px;
}

.grid_item:hover {
    background-color: rgba(0, 0, 0, .1);
}

.grid_item:hover .show_info {
    /* opacity: 1; */
    display: block;
}

.setting_bar {
    position: absolute;
    height: fit-content;
    width: 300px;
    /* height: fit-content; */
    height: 500px;
    box-shadow: 2px #ccc;
    top: 70px;
    background-color: var(--back-ground-contrast);
    border-radius: 10px;
    display: none;
    /* user-select: none; */
    border: 1px solid var(--primary-color);
    overflow: hidden;
    transform-origin: top left;
    animation: appear_action_block .2s ease-in;
}

.setting_bar.appear {
    display: block;
}

.setting_block {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background-color: var(--back-ground-contrast);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    overflow-y: scroll;
}

.setting_block::-webkit-scrollbar-track {
    background-color: #aaa;
}

.VI_setting_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.node_setting {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.node_setting input {
    width: 48%;
    font-size: 16px;
    padding: 4px 10px;
    outline-color: var(--primary-color);
    border-radius: 2px;
}

.minimax_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minimax_item {
    width: 80%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 4px 0;
}

.MOX_list {
    outline-color: var(--primary-color);
    font-size: 20px;
    width: 80px;
    border-radius: 4px;
}

.board_title,
.choose_your_pos_title,
.item_title {
    font-size: 20px;
    margin-bottom: 10px;
}

.VI_board {
    background-color: var(--back-ground-pre);
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    outline: none;
}

.board:focus {
    border: 1px solid var(--primary-color);
}

.random_board_btn,
.random_your_pos_btn {
    font-size: 24px;
    cursor: pointer;
}

.choose_your_pos_title {
    margin: 10px 0;
}

.your_pos_list,
.your_chess_list,
.your_move_list {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.your_pos_item,
.your_chess_item,
.your_move_item {
    text-align: center;
    font-size: 20px;
    background-color: var(--back-ground-pre);
    border-radius: 10px;
    padding: 4px 0;
    cursor: pointer;
}

.run_btn {
    margin-top: 10px;
    padding: 4px 10px;
    font-size: 24px;
    background-color: var(--primary-color);
    border-radius: 2px;
    cursor: pointer;
    color: var(--secondary-text-color);
    /* user-select: none; */
}

.your_pos_item.selected,
.your_chess_item.selected,
.your_move_item.selected {
    background-color: var(--primary-color);
}

.your_pos_item:hover {
    background-color: #3395ff;
}

.random_board_btn:hover i,
.random_your_pos_btn:hover i {
    filter: opacity(.5);
}

#checkbox:checked ~ .O_C_btn .setting_bar {
    display: flex;
}

.O_C_btn {
    left: 10px;
    /* display: block;
    width: 46px;
    height: 46px;
    position: absolute;
    top: 50%;
    left: -24px;
    transform: translateY(-50%);
    background-color: var(--back-ground-contrast);
    border-radius: 99px;
    display: flex;
    cursor: pointer;
    user-select: none;
    transition: all .1s linear; */
}

/* .O_C_btn:hover {
    background-color: #52566e;
} */

.O_C_btn_C {
    display: none;
}

.O_C_btn_C,
.O_C_btn_O {
    font-size: 20px;
    margin: auto 20px auto 8px;
    /* position: absolute; */
}

/* #checkbox:checked ~ .r_btn .setting_bar .O_C_btn .O_C_btn_C {
    display: block;
}

#checkbox:checked ~ .r_btn .setting_bar .O_C_btn .O_C_btn_O {
    display: none;
} */

#open_code_cb:checked ~ .open_code_btn .action_block {
    display: block;
}

.r_btn {
    position: fixed;
    margin-top: 10px;
    top: 60px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 99px;
    background-color: var(--back-ground-contrast);
    display: grid;
    place-content: center;
    font-size: 26px;
    cursor: pointer;
    z-index: 1000000;
}

.r_btn i {
    user-select: none;
}

.open_code_btn {
    right: 0;
}

.r_btn:hover {
    /* filter: brightness(90%); */
    background-color: var(--back-ground-pre);
}

.action_block {
    display: none;
    position: absolute;
    width: max-content;
    right: 0px;
    top: 70px;
    border-radius: 10px;
    background-color: var(--action-block-bg);
    border: 1px solid var(--primary-color);
    padding: 20px;
    transform-origin: top right;
    z-index: 100000;
    animation: appear_action_block .2s ease-in;
    /* pointer-events:all; */
}

.action_block.appear {
    display: block;
}

.action_block:hover {
    filter: brightness(100%);
}

.show_code {
    width: 100%;
}

.code_list {
    width: fit-content;
    position: relative;
    font-size: 14px;
    background-color: var(--code-list-bg);
    border-radius: 10px;
    padding: 0 20px;
}

.row_list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255,255,255,0.2); */
    display: flex;
    flex-direction: column;
    padding: 18px 0;
    pointer-events: none;
}

.code_row {
    flex: 1;
    /* background-color: rgba(0, 123, 255, .2);
    border: 1px solid #ccc; */
}

.code_row.run {
    background-color: rgba(0, 0, 0, .2);
}

.code_row.false {
    background-color: rgba(255, 0, 0, 0.3);
}

.code_row.true {
    background-color: rgba(0, 123, 255, 0.3);
}

.code_row.round_top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.code_row.round_bottom {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

pre {
    background-color: none;
    display: grid;
    place-content: center;
    line-height: 18px;
}

.hljs {
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
}

.hljs-number {
    color: rgb(229, 0, 229);
}

.hljs-keyword {
    color: #ff79c6;
}

.hljs-variable {
    color: #d48c8c;
}

.hljs-built_in {
    color: #65c300;
    font-weight: bold;
}

.function_ {
    color: #50fa7b;
}

pre code.hljs {
    /* padding: 2px 0; */
    padding: 0;
}

code {
    user-select:text;
    cursor: text;
}

code.hljs {
    padding: 0;
}

.hljs-attr {
    color: #8FBFE3;
}

.return_value {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
}

.return_value_title {
    font-size: 30px;
    margin-bottom: 10px;
}

.return_value_ouput {
    display: none;
    width: 100%;
    padding: 10px 0;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
    animation: appear .2s linear;
}

.show_data_change {
    position: absolute;
    top: 0;
    right: 120%;
    width: fit-content;
    min-width: 400px;
    height: 50px;
    padding: 10px;
    display: grid;
    place-content: center;
    font-family: sans-serif;
    font-size: 22px;
    border-radius: 4px;
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
}

.play_animation_controller {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: var(--back-ground-contrast);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    cursor: pointer;
    z-index: 10000;
}

.duration_bar {
    width: 40%;
    margin: 0 40px 0 20px;
}

.btn_controller {
    width: 200px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controller_btn {
    display: grid;
    place-content: center;
    width: 30px;
    height: 30px;
    border-radius: 99px;
    cursor: pointer;
}

.controller_btn:hover {
    background-color: #FBFBFB;
}

#play_pause_btn:checked ~ .play_pause_btn .pause_btn {
    display: grid;
}

#play_pause_btn:checked ~ .play_pause_btn .play_btn {
    display: none;
}

.play_pause_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pause_btn {
    display: none;
}

.visualize_speed {
    outline-color: var(--primary-color);
    font-size: 20px;
    width: 100px;
    border-radius: 4px;
}

/* svg */

svg {
    user-select: none;
}

.node {
    /* position: relative; */
    /* stroke: #999;
    stroke-width: 1px; */
  }

.node:hover > .add_node_btn {
    display: block;
}

.node:hover > .remove_node_btn {
    display: block;
}

  .add_node_btn {
    display: none;
    cursor: pointer;
    transform: translate(16px, -12px);
    /* position: absolute; */
    /* top: 0; */
  }

  .add_node_btn:hover > circle,
  .remove_node_btn:hover > circle {
    fill: #aaa;
  }

  .remove_node_btn {
    display: none;
    cursor: pointer;
    transform: translate(16px, 12px);
  }

  .node circle {
    /* fill: #fff; */
    /* stroke: #999;
    stroke-width: 2px; */
  }

  .node .text {
    font: 12px sans-serif;
    text-anchor: middle;
    /* alignment-baseline: middle; */
  }

  /* .link {
    fill: none;
    stroke: #555;
    stroke-width: 2px;
  } */
  .plus {
    width: 100px;
    height: 100px;
    background-color: red;
  }